.times{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    flex-direction: column;    
}

.div_mascote_copa{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #2e2e2e, #c5c5c5, #2e2e2e);
    width: 100%;
    padding: 5px 0 5px 0;
}

.mascote_copa{
    width: 120px;
    height: 130px;
}

p{
    display: inline-block;
}

img{
    margin-right: 5px;
}

.tabela_time{
    background-color: white;
}

@media screen and (max-width: 650px){
    .times, .div_mascote_copa{
        margin: 10px;
        background-color: white;
        color: black;
    }

    .body{
        background-color: black;
    }

    .alinha_tabelas{
        justify-content: center;
        margin: 0;
    }
}