.times{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    flex-direction: column;    
}

.div-mascote-copa{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #2e2e2e, #c5c5c5, #2e2e2e);
    width: 100%;
    padding: 5px 0 5px 0;
}

.mascote-copa{
    width: 120px;
    height: 130px;
}

p{
    display: inline-block;
}

img{
    margin-right: 5px;
}

/* .tabela-grupos{
    background-color: #000;
    color: white;
} */

.tabela-time{
    background-color: white;
}

.tabela-time:hover{
    background-color: yellow;
    color: black;
}

@media screen and (max-width: 650px){
    .times, .taca-copa, .div-mascote-copa{
        margin: 10px;
        background-color: white;
        color: black;
    }

    .body{
        background-color: black;
    }

    .alinha-tabelas{
        justify-content: center;
        margin: 0;
    }
}